<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.mperezi.alfred.json</string>
	<key>connections</key>
	<dict>
		<key>4B24F6AA-2D2F-4318-B26D-DBBB58F9B3D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC59D2E0-8DD9-4DAF-A831-AF144328D6CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95ED8E21-BAE3-4974-81EE-0C719BAC7ECD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B24F6AA-2D2F-4318-B26D-DBBB58F9B3D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC59D2E0-8DD9-4DAF-A831-AF144328D6CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1576CE13-4659-4CCF-B70C-4B4C8B469994</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9E604473-FA80-45A9-88C9-FB9DA4B41898</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FFFBE781-471E-46D2-BF3D-4A601D3A9AC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFFBE781-471E-46D2-BF3D-4A601D3A9AC0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBF24B09-BCFC-4E12-88E4-CC0D5045822D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mperezi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSON Viewer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Invalid JSON format</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1576CE13-4659-4CCF-B70C-4B4C8B469994</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$PATH:/usr/local/bin

pbpaste | jq 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B24F6AA-2D2F-4318-B26D-DBBB58F9B3D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open the clipboard content as JSON</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>95ED8E21-BAE3-4974-81EE-0C719BAC7ECD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^parse error:</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>9E604473-FA80-45A9-88C9-FB9DA4B41898</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>ok</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EC59D2E0-8DD9-4DAF-A831-AF144328D6CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>data.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>FFFBE781-471E-46D2-BF3D-4A601D3A9AC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>data.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>BBF24B09-BCFC-4E12-88E4-CC0D5045822D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1576CE13-4659-4CCF-B70C-4B4C8B469994</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>4B24F6AA-2D2F-4318-B26D-DBBB58F9B3D2</key>
		<dict>
			<key>note</key>
			<string>parse json from clipboard</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>95ED8E21-BAE3-4974-81EE-0C719BAC7ECD</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>BBF24B09-BCFC-4E12-88E4-CC0D5045822D</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>EC59D2E0-8DD9-4DAF-A831-AF144328D6CE</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>FFFBE781-471E-46D2-BF3D-4A601D3A9AC0</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/mperezi</string>
</dict>
</plist>
