<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.urlimport.C7AC1846-3A85-4BC8-BE1C-5E9E1F0092E7</string>
	<key>darkthemeuid</key>
	<string>theme.bundled.osxdark</string>
</dict>
</plist>
